// Contains import to all the specific files

@forward 'common';
@forward 'slider';
@forward 'tailwind';
@forward 'media';

@layer components {
  .no-gutter {
    padding-left: 0;
    padding-right: 0;
  }

  .disable-hover {
    pointer-events: none;
  }
}
